$color-vino:#4F1D28;
$color-light-purple:#A686AF;
$color-pink:#EF507A;
$color-light-blue:#1AA3A3;
$color-white:#fff;
$color-black:#000;
$title-font:Trebuchet MS, Arial,sans-serif;
$body-font:Verdana, Arial,sans-serif;